apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-test-vcluster-values
  namespace: vcluster-custom-test
data:
  values.yaml: |
    controlPlane:
      distro:
        k8s:
          enabled: true
          version: "v1.34.3"
      statefulSet:
        highAvailability:
          replicas: 1
        image:
          repository: "loft-sh/vcluster-oss"
        persistence:
          volumeClaim:
            enabled: false
            size: "5Gi"
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2"
            memory: "2Gi"
      coredns:
        enabled: true
        deployment:
          replicas: 1
        overwriteConfig: |
          .:1053 {
            errors
            health
            ready
            kubernetes cluster.local in-addr.arpa ip6.arpa {
              pods insecure
              fallthrough in-addr.arpa ip6.arpa
              ttl 30
            }
            prometheus 0.0.0.0:9153
            forward . /etc/resolv.conf
            cache 30
            loop
            reload
            loadbalance
          }
      proxy:
        extraSANs:
          - custom-test.integratn.tech
          - 10.0.4.211
      service:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "custom-test.integratn.tech"
        spec:
          type: LoadBalancer
          loadBalancerIP: "10.0.4.211"
          ports:
            - name: https
              port: 443
              targetPort: 8443
              protocol: TCP
    deploy:
      metallb:
        enabled: true
    integrations:
      externalSecrets:
        enabled: true
        webhook:
          enabled: true
        sync:
          fromHost:
            clusterStores:
              enabled: true
              selector:
                matchLabels:
                  integratn.tech/cluster-secret-store: onepassword-store
      metricsServer:
        enabled: true
      certManager:
        enabled: true
        sync:
          fromHost:
            clusterIssuers:
              enabled: true
              selector:
                labels:
                  integratn.tech/cluster-issuer: letsencrypt-prod
    telemetry:
      enabled: false
    networking: {advanced: {clusterDomain: "cluster.local"}}
    sync:
      toHost:
        pods:
          enabled: true
        services:
          enabled: true
      fromHost:
        secrets:
          enabled: true
          mappings:
            byName:
              "external-secrets/eso-onepassword-token": "external-secrets/eso-onepassword-token"
    rbac:
      clusterRole:
        enabled: true
        extraRules:
          - apiGroups: [""]
            resources: ["secrets"]
            verbs: ["get", "list", "watch"]
            resourceNames:
              - "eso-onepassword-token"
