apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-test-vcluster-values
  namespace: vcluster-custom-test
data:
  values.yaml: |
    controlPlane:
      distro:
        k8s:
          enabled: true
          version: "v1.34.3"
      statefulSet:
        highAvailability:
          replicas: 1
        persistence:
          volumeClaim:
            enabled: false
            size: "5Gi"
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2"
            memory: "2Gi"
      coredns:
        deployment:
          replicas: 1
      service:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "custom-test.integratn.tech"
        spec:
          type: LoadBalancer
          loadBalancerIP: "10.0.8.100"
          ports:
            - name: https
              port: 443
              targetPort: 8443
              protocol: TCP
    networking:
      advanced:
        clusterDomain: "cluster.local"
    sync:
      toHost:
        pods:
          enabled: true
        services:
          enabled: true
    experimental:
      deploy:
        vcluster:
          manifests: |
            apiVersion: v1
            kind: ConfigMap
            metadata:
              name: coredns
              namespace: kube-system
            data:
              Corefile: |-
                .:1053 {
                    errors
                    health
                    ready
                    rewrite name regex .*\.nodes\.vcluster\.com kubernetes.default.svc.cluster.local
                    kubernetes cluster.local in-addr.arpa ip6.arpa {
                        pods insecure
                        fallthrough in-addr.arpa ip6.arpa
                    }
                    hosts /etc/coredns/NodeHosts {
                        ttl 60
                        reload 15s
                        fallthrough
                    }
                    prometheus :9153
                    forward . /etc/resolv.conf
                    cache 30
                    loop
                    reload
                    loadbalance
                }
    
                import /etc/coredns/custom/*.server
              NodeHosts: ""
