apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-x-kube-system-x-test4
  namespace: vcluster-test-4
  labels:
    app: vcluster
    instance: test4
data:
  Corefile: |
    .:1053 {
      errors
      health
      ready
      kubernetes cluster.local in-addr.arpa ip6.arpa {
        pods insecure
        fallthrough in-addr.arpa ip6.arpa
        ttl 30
      }
      prometheus 0.0.0.0:9153
      forward . /etc/resolv.conf
      cache 30
      loop
      reload
      loadbalance
    }
  NodeHosts: ""
