apiVersion: platform.integratn.tech/v1alpha1
kind: ArgoCDApplication
metadata:
  name: vc-media
  namespace: platform-requests
  labels:
    app.kubernetes.io/name: argocd-application
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: vcluster-orchestrator-v2
    kratix.io/resource-name: media
spec:
  name: vc-media
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  project: vcluster-media
  destination:
    server: https://kubernetes.default.svc
    namespace: vcluster-media
  source:
    repoURL: https://charts.loft.sh
    chart: vcluster
    targetRevision: 0.31.0
    helm:
      releaseName: media
      valuesObject:
        controlPlane:
          distro:
            k8s:
              enabled: true
              image:
                tag: v1.34.3
          serviceMonitor:
            enabled: true
            labels:
              vcluster_name: media
              vcluster_namespace: vcluster-media
              environment: production
              cluster_role: vcluster
          statefulSet:
            highAvailability:
              replicas: 3
            scheduling:
              podManagementPolicy: Parallel
              priorityClassName: system-cluster-critical
            imagePullPolicy: Always
            image:
              repository: loft-sh/vcluster-oss
            persistence:
              volumeClaim:
                enabled: true
                size: 10Gi
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                cpu: 2
                memory: 2Gi
          coredns:
            enabled: true
            deployment:
              replicas: 2
            overwriteConfig: |
              .:1053 {
                errors
                health
                ready
                kubernetes cluster.local in-addr.arpa ip6.arpa {
                  pods insecure
                  fallthrough in-addr.arpa ip6.arpa
                  ttl 30
                }
                prometheus 0.0.0.0:9153
                forward . /etc/resolv.conf
                cache 30
                loop
                reload
                loadbalance
              }

          backingStore:
            etcd:
              deploy:
                enabled: true
                statefulSet:
                  highAvailability:
                    replicas: 3

          ingress:
            enabled: false

          proxy:
            extraSANs:
              - media.integratn.tech


          service:
            enabled: true
            annotations:
              external-dns.alpha.kubernetes.io/hostname: media.integratn.tech
            spec:
              type: LoadBalancer
              ports:
                - name: https
                  port: 443
                  targetPort: 8443
                  protocol: TCP
        deploy:
          metallb:
            enabled: true
        integrations:
          externalSecrets:
            enabled: true
            webhook:
              enabled: true
            sync:
              fromHost:
                clusterStores:
                  enabled: true
                  selector:
                    matchLabels:
                      integratn.tech/cluster-secret-store: onepassword-store
          metricsServer:
            enabled: true
          certManager:
            enabled: true
            sync:
              fromHost:
                clusterIssuers:
                  enabled: true
                  selector:
                    labels:
                      integratn.tech/cluster-issuer: letsencrypt-prod
        telemetry:
          enabled: false
        logging:
          encoding: json
        networking:
          advanced:
            clusterDomain: cluster.local
          replicateServices:
            fromHost:
              - from: default/kubernetes
                to: default/kubernetes
        sync:
          toHost:
            pods:
              enabled: true
            persistentVolumes:
              enabled: true
            ingresses:
              enabled: true
            networkPolicies:
              enabled: false
          fromHost:
            storageClasses:
              enabled: true
            ingressClasses:
              enabled: true
            secrets:
              enabled: true
              mappings:
                byName:
                  external-secrets/eso-onepassword-token: external-secrets/eso-onepassword-token
        rbac:
          clusterRole:
            enabled: true
            extraRules:
              - apiGroups:
                  - ""
                resources:
                  - secrets
                verbs:
                  - get
                  - list
                  - watch
                resourceNames:
                  - eso-onepassword-token

