apiVersion: v1
kind: ConfigMap
metadata:
  name: dev-test-vcluster-values
  namespace: vcluster-dev-test
data:
  values.yaml: |
    controlPlane:
      distro:
        k8s:
          enabled: true
          version: "v1.34.3"
      statefulSet:
        highAvailability:
          replicas: 1
        persistence:
          volumeClaim:
            enabled: false
            size: "5Gi"
        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
      coredns:
        deployment:
          replicas: 1
        overwriteConfig: |
          .:1053 {
              errors
              health
              ready
              rewrite name regex .*\.nodes\.vcluster\.com kubernetes.default.svc.cluster.local
              kubernetes cluster.local in-addr.arpa ip6.arpa {
                  pods insecure
                  fallthrough in-addr.arpa ip6.arpa
              }
              hosts /etc/coredns/NodeHosts {
                  ttl 60
                  reload 15s
                  fallthrough
              }
              prometheus :9153
              forward . /etc/resolv.conf
              cache 30
              loop
              reload
              loadbalance
          }
    
          import /etc/coredns/custom/*.server
      service:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "dev-test.integratn.tech"
        spec:
          type: LoadBalancer
          loadBalancerIP: "10.0.6.100"
          ports:
            - name: https
              port: 443
              targetPort: 8443
              protocol: TCP
    networking:
      advanced:
        clusterDomain: "cluster.local"
    sync:
      toHost:
        pods:
          enabled: true
