apiVersion: v1
kind: ConfigMap
metadata:
  name: vc-vcluster-media-coredns
  namespace: vcluster-media
  labels:
    app.kubernetes.io/name: coredns
    app.kubernetes.io/instance: vc-vcluster-media
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: vcluster-orchestrator-v2
    kratix.io/resource-name: vcluster-media
data:
  Corefile: |
    .:1053 {
        errors
        health
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
        }
        hosts /etc/coredns/NodeHosts {
            ttl 60
            reload 15s
            fallthrough
        }
        prometheus :9153
        forward . /etc/resolv.conf
        cache 30
        loop
        reload
        loadbalance
    }

    import /etc/coredns/custom/*.server
  NodeHosts: ""
