apiVersion: v1
kind: ConfigMap
metadata:
  name: test-vcluster-values
  namespace: vcluster-test
data:
  values.yaml: |
    controlPlane:
      distro:
        k8s:
          enabled: true
          version: "v1.34.3"
      statefulSet:
        persistence:
          volumeClaim:
            enabled: true
            size: "2Gi"

        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
    
    sync:
      toHost:
        pods:
          enabled: true
